<div class ="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <table>
                        <thead class="table table-head-fixed text-nowrap">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let currentTambahData of tambahdata; let i = index">
                            <tr>
                                <td>{{ currentTambahData._id }}</td>
                                <td>{{ currentTambahData.name }}</td>
                                <td>{{ currentTambahData.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>